.item__content{
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.item__icon-close {
  display: flex;
  align-items: center;
  color: rgb(224, 98, 84);
}

.task-finish{
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: #c0c0c0;
  text-decoration: line-through;
}

.input-item-back{
  position: absolute;
  background-color: slategrey;
  /* opacity: 0.9; */
  width: 100vw;
  height: 100vh;
}
.back {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 4;
  /* display: none; */
}

.hide {
  display: none;
}

.show {
  display: block;
}